.masthead.segment {
  min-height: 700px;
  padding: 1em 0em;
}
.masthead .logo.item img {
  margin-right: 1em;
}
.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}
.masthead h1.ui.header {
  margin-top: 3em;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
}
.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.city-view .city-map-container {
  height: 500px;
}

.city-view .all-attractions-view .attraction-card-view {
  cursor: default !important;
}

.city-view .all-attractions-view .attraction-card-view .image {
  background-position: 50%;
  background-size: cover;
  height: 200px;
}

.city-view .transit-view {
  max-height: 200px;
  overflow-y: scroll;
}
